/* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

/* Section Styles */
section {
    margin-bottom: 30px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.contact {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact a{
    text-decoration: none;
    color: #333;
}

.contact a:hover{
    text-decoration: underline;
    color: #888;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-top: 38vh;
}